* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
.App {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listCard,
.listForm {
  height: 70%;
  width: 50%;
  text-align: center;
  border-radius: 20px;
  font-size: 2rem;
  background-color: #d6fff6;
}
.absoluteListForm {
  background: linear-gradient(to right, #2375ab60, #2375ab60);
  background: -webkit-linear-gradient(to right, #2375ab60, #2375ab60);
}
