* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: Poppins, sans-serif;
  background: hsla(0, 0%, 30%, 0.623);
  background: -webkit-linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0.377),
      hsla(0, 0%, 0%, 0.377)
    ),
    url(./src/bg.jpeg);
  background: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0.377),
      hsla(0, 0%, 0%, 0.377)
    ),
    url(./src/bg.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
.card {
  width: 18rem;
  margin-right: 18px;
  color: rgb(226, 226, 226);
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
}
.card li,
.card a {
  color: white;
  text-decoration: none;
}
